Orders_Resources/orders.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2018 (https://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="orders">
        <xs:sequence>
            <xs:element name="orderid" type="xs:int" minOccurs="1" />
            <xs:element name="customerid" type="xs:int" minOccurs="1" />
            <xs:element name="delivery" type="xs:string" minOccurs="1" />
            <xs:element name="datetime" type="xs:dateTime" minOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="orders" type="orders" />
    <xs:complexType name="order_items">
        <xs:sequence>
            <xs:element name="clothesid" type="xs:int" />
            <xs:element name="orderid" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="order_items" type="order_items" />
</xs:schema>