clothes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- Created with Liquid Studio 2018 (https://www.liquid-technologies.com) -->
<schema xmlns:tns="http://www.amazing.com/Books" elementFormDefault="qualified" targetNamespace="http://www.amazing.com/Books" xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="Clothes">
        <sequence>
            <element name="ClothesID" type="integer" minOccurs="1" />
            <element name="ClassID" type="integer" minOccurs="1" />
            <element name="Status" type="string" minOccurs="1" />
            <element name="Size" type="string" minOccurs="1" />
        </sequence>
    </complexType>
    <element name="Clothes" type="tns:Clothes" />

    <complexType name="Clotheses">
        <sequence>
            <element ref="tns:Clothes" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    <element name="Clotheses" type="tns:Clotheses" />

    <complexType name="ClothesClass">
        <sequence>
            <element name="ClassID" type="integer" minOccurs="1" />
            <element name="Gender" type="string" minOccurs="1" />
            <element name="Type" type="string" minOccurs="1" />
            <element name="Function" type="string" minOccurs="1" />
            <element name="Image_link" type="string" minOccurs="1" />
            <element name="Mood" type="string" minOccurs="1" />
            <element name="Count" type="integer" minOccurs="1" />
        </sequence>
    </complexType>
    <element name="ClothesClass" type="tns:ClothesClass" />

    <complexType name="ClothesClasses">
        <sequence>
            <element ref="tns:ClothesClass" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    <element name="ClothesClasses" type="tns:ClothesClasses" />
    

</schema>