Customers_Resources/Customers.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- Created with Liquid Studio 2018 (https://www.liquid-technologies.com) -->
<schema xmlns:tns="http://www.amazing.com/customers" elementFormDefault="qualified" targetNamespace="http://www.amazing.com/customers" xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="Add_Customer">
        <sequence>
            <element name="Name" type="string" minOccurs="1" />
            <element name="Tier" type="integer" minOccurs="1" />
            <element name="Birthdate" type="date" minOccurs="1" />
            <element name="Gender" type="string" minOccurs="1" />
            <element name="Address" type="string" minOccurs="1" />
        </sequence>
    </complexType>
    <element name="Add_Customer" type="tns:Add_Customer" />
    <complexType name="Customer">
        <sequence>
            <element name="CustomerID" type="integer" minOccurs="1" />
            <element name="Name" type="string" minOccurs="1" />
            <element name="Tier" type="integer" minOccurs="1" />
            <element name="Birthdate" type="date" minOccurs="1" />
            <element name="Gender" type="string" minOccurs="1" />
            <element name="Address" type="string" minOccurs="1" />
        </sequence>
    </complexType>
    <element name="Customer" type="tns:Customer" />
    <complexType name="Customers">
        <sequence>
            <element ref="tns:Customer" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    <element name="Customers" type="tns:Customers" />
</schema>