services/Background/Background.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- Created with Liquid Studio 2018 (https://www.liquid-technologies.com) -->
<schema xmlns:tns="http://www.amazing.com/Background" elementFormDefault="qualified" targetNamespace="http://www.amazing.com/Background" xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="Background">
        <sequence>
            <element name="location" type="string" minOccurs="1" />
            <element name="image" type="string" minOccurs="1" />
        </sequence>
    </complexType>
    <element name="Background" type="tns:Background" />
</schema>