Clothes_Services/clothes.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- Created with Liquid Studio 2018 (https://www.liquid-technologies.com) -->
<schema xmlns:tns="http://www.amazing.com/Books" elementFormDefault="qualified" targetNamespace="http://www.amazing.com/Books" xmlns="http://www.w3.org/2001/XMLSchema">
    <complexType name="Clothes">
        <sequence>
            <element name="clothesid" type="integer" minOccurs="1" />
            <element name="classid" type="integer" minOccurs="1" />
            <element name="status" type="string" minOccurs="1" />
            <element name="size" type="string" minOccurs="1" />
        </sequence>
    </complexType>
    <element name="Clothes" type="tns:Clothes" />

    <complexType name="Clotheses">
        <sequence>
            <element ref="tns:Clothes" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    <element name="Clotheses" type="tns:Clotheses" />

    <complexType name="CombinedClothes">
        <sequence>
            <element name="clothesid" type="integer" minOccurs="1" />
            <element name="classid" type="integer" minOccurs="1" />
            <element name="status" type="string" minOccurs="1" />
            <element name="size" type="string" minOccurs="1" />
            <element name="gender" type="string" minOccurs="1" />
            <element name="type" type="string" minOccurs="1" />
            <element name="function" type="string" minOccurs="1" />
            <element name="image_link" type="string" minOccurs="1" />
            <element name="mood" type="string" minOccurs="1" />
            <element name="description" type="string" minOccurs="1" />
        </sequence>
    </complexType>
    <element name="CombinedClothes" type="tns:CombinedClothes" />

    <complexType name="CombinedClotheses">
        <sequence>
            <element ref="tns:CombinedClothes" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    <element name="CombinedClotheses" type="tns:CombinedClotheses" />

    <complexType name="ClothesClass">
        <sequence>
            <element name="classid" type="integer" minOccurs="1" />
            <element name="gender" type="string" minOccurs="1" />
            <element name="type" type="string" minOccurs="1" />
            <element name="function" type="string" minOccurs="1" />
            <element name="image_link" type="string" minOccurs="1" />
            <element name="mood" type="string" minOccurs="1" />
            <element name="description" type="string" minOccurs="1" />
        </sequence>
    </complexType>
    <element name="ClothesClass" type="tns:ClothesClass" />

    <complexType name="ClothesClasses">
        <sequence>
            <element ref="tns:ClothesClass" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    <element name="ClothesClasses" type="tns:ClothesClasses" />
    

</schema>